<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>Job Queue</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="mt-3">Word counter</h5>
                    <div class="card-body">

                        <form action="/add-task">
                            <div class="form-group">
                                <label>Word Count</label>
                                <input type="text" class="form-control" name="url" placeholder="Enter URL" required>
                                {% if message %}
                                    <small id="emailHelp" class="form-text text-muted">{{ message }}</small>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="mt-3 mb-3">Job queue</h5>
                    {% if jobs %}
                        {% for job in jobs %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h6>{{ job.func_name }}</h6>
                                    <p>Args: {{ job.args }}</p>
                                    <small class="text-muted d-block">Job ID: {{ job.id }}</small>
                                    <small class="text-muted d-block">Status: {{ job.status }}</small>
                                    <small class="text-muted d-block">Created at: {{ job.created_at.strftime('%a %d %b %Y %H:%M:%S') }}</small>
                                    <small class="text-muted d-block">Enqueued at: {{ job.enqueued_at.strftime('%a %d %b %Y %H:%M:%S') }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No jobs in queue</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>